@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if(HttpContext.Session.GetString("Username") is not null)
    {
        Layout = "_LoggedInLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the webshop of Robert Heijn!</p>
    <br />

</div>
