@page
@model Webshop.Pages.SearchModel
@{
    if(HttpContext.Session.GetString("Username") is not null)
    {
        Layout = "_LoggedInLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="box sandColor">
    <form method="post">
        <input type="text" placeholder="Search for an item" asp-for=SearchInput/>
        <span asp-validation-for=SearchInput></span>
        <input type="submit" value="Search"/>
    </form>
</div>
